@model SearchResultViewModel
<section>
    <div class="col-lg-4 col-12">
    </div>
    <div class="col-lg-8 col-12">
        <div class="nav row">
            <select class="form-control col-4">
                <option value="default">پیش فرض</option>
                <option value="expensive">گرانترین</option>
                <option value="cheapest">ارزانترین</option>
                <option value="newest">جدیدترین</option>
            </select>
        </div>
        <div class="col-12 Product-container">
            <div class="product-wrapper">
                @if (Model.Products.Count > 0)
                {
                    @foreach (var product in Model.Products)
                    {
                        <div class="product-card" style="min-width: 15rem;">
                            <div class="cover">
                                <a class="nav-link" asp-action="ProductShow" asp-controller="Product" asp-route-Id="@product.Id">
                                    <img src="~/Image/Product/@(product.Name)/@(product.ProductPhotos.First().Name)" alt="@product.Name" width="200px">
                                </a>
                            </div>
                            <div class="card-body">
                                <div class="product-name">
                                    <a class="nav-link" asp-action="ProductShow" asp-controller="Product" asp-route-Id="@product.Id">@product.Name</a>
                                </div>
                                <div class="price">
                                    @if (product.Discount > 0)
                                    {
                                        <span class="original-price text-danger"><del>@product.Price.ToString("N0") تومان</del></span>


                                        var finPrice = product.Price - (product.Price * ((decimal)product.Discount / 100));


                                        <span class="off-price">@finPrice.ToString("N0") تومان</span>
                                    }
                                    else
                                    {
                                        <span class="text-dark">@product.Price.ToString("N0") تومان</span>
                                    }
                                </div>
                                <div class="card-footer">
                                    <a href="#" class="shopbtn"><i class="fa-solid fa-cart-shopping"></i></a>
                                    <div class="d-flex flex-row-reverse">
                                        <i class="fa-solid fa-star"></i><span>4.5</span>
                                        @*         <i class="fa-solid fa-star"></i>
                                <i class="fa-solid fa-star"></i>
                                <i class="fa-regular fa-star"></i>
                                <i class="fa-regular fa-star"></i>*@
                                    </div>
                                </div>
                            </div>
                        </div>
                    }

                }
                else
                {
                    <div class="alert alert-warning">
                        <p>نتیجه ای یافت نشد</p>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
