@using DataAccessLayer.Models;
@model List<Ticket>
<div class="container">
    <div class="row">
        <div class="card col-12">
            <div class="card-header">
                <h3 class="card-title">کامنت ها</h3>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
                <table id="example1" class="table table-bordered table-striped">
                    <thead>
                        <tr>
                            <th>
                                کنترل
                            </th>
                            <th>عنوان تیکت</th>
                            <th>متن تیکت</th>
                            <th>وضعیت</th>
                            <th>نام کاربر</th>
                            <th>تاریخ</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var com in Model)
                        {
                            <tr>
                                <td>
                                    <div class="btn-group">
                                        <a asp-action="EditTicket" asp-controller="Ticket" asp-route-Id="@com.Id" class="btn btn-info "><i class="fa-solid fa-pen"></i></a>
                                        <a asp-action="AnswerTicket" asp-controller="Ticket" asp-route-Id="@com.Id" class="btn btn-secondary"><i class="fa-regular fa-comment"></i></a>
                                        <a asp-action="TicketDetail" asp-controller="Ticket" asp-route-Id="@com.Id" class="btn btn-success"><i class="fa-regular fa-eye"></i></a>
                                        <button data-close="@com.Id" class="btn btn-outline-danger closeBtn" title="close"><i class="fa-solid fa-close"></i></button>
                                        <button type="button" data-delete="@com.Id" class="btn btn-danger"><i class="fa-solid fa-trash-can"></i></button>
\                                    </div>
                                </td>
                                <td>
                                    @if (string.IsNullOrEmpty(com.Title))
                                    {
                                        <h3>عنوان ندارد</h3>
                                    }
                                    else
                                    {
                                        <h3>@com.Title</h3>
                                    }
                                </td>
                                <td>
                                    @if (com.Description.Length > 30)
                                    {
                                        <p>@com.Description.Substring(0,30)...</p>


                                    }
                                    else
                                    {
                                        <p>@com.Description</p>
                                    }
                                </td>
                                <td>
                                    <span class="badge badge-info p-3">@com.Status</span>

                                </td>
                                <td>

                                    @com.User.UserName

                                </td>
                                <td>
                                    @com.LastUpdate
                                </td>
                               
                            </tr>
                        }

                    </tbody>
                    <tfoot>
                        <tr>
                            <th>
                                کنترل
                            </th>
                            <th>عنوان تیکت</th>
                            <th>متن تیکت</th>
                            <th>وضعیت</th>
                            <th>نام کاربر</th>
                            <th>تاریخ</th>
                        </tr>
                    </tfoot>
                </table>
            </div>
      
            <!-- /.card-body -->
        </div>

    </div>
</div>

@section CssRefrence {
    <!-- DataTables -->
    <link rel="stylesheet" href="AdminLTE/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
    <link rel="stylesheet" href="AdminLTE/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
    <link rel="stylesheet" href="AdminLTE/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
    }
@section RefrenceScripts {
    <script src="AdminLTE/plugins/datatables/jquery.dataTables.min.js"></script>
    <script src="AdminLTE/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="AdminLTE/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="AdminLTE/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="AdminLTE/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="AdminLTE/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="AdminLTE/plugins/jszip/jszip.min.js"></script>
    <script src="AdminLTE/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="AdminLTE/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="AdminLTE/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="AdminLTE/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="AdminLTE/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
  
    }
@section InlineScripts {
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": true, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": true,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });
        var btnDelete = document.querySelectorAll(".btn-danger");
        btnDelete.forEach((item) => {
            item.addEventListener("click", function () {
                console.log("ok");
                if (window.confirm("آیا از حذف این کامنت اطمینان دارید ؟")) {
                    console.log($(this).attr("data-delete"));
                    $.ajax({
                        url: '@Url.Action("DeleteComment","Comment")',
                        type: 'GET',
                        data: { Id: $(this).attr("data-delete") },
                        async: true,
                        success: function (data) {
                            if (data.result) {
                                alert("  با موفقیت انجام شد  " + data.name + " حذف  ");
                                location.reload();
                            }
                            else {
                                alert("با شکست انجام شد" + data.name + "حذف ");
                            }
                        },
                        error: function () {
                            alert("خطا در شبکه!");
                        },
                    });
                }
            })
        });
        var CloseBtn = document.querySelectorAll(".closeBtn");
        CloseBtn.forEach((item) => {
            item.addEventListener("click", function () {
                console.log("ok");
                if (window.confirm("آیا از بستن/بازکردن این کامنت اطمینان دارید ؟")) {
                    $.ajax({
                        url: '@Url.Action("CloseTicket","Ticket")',
                        type: 'GET',
                        async: true,
                        data: { Id: $(item).attr("data-close") },
                        success: function (data) {
                            if (data.result) {
                                alert("تیکت با موفقیت بسته شد");
                                location.reload();
                            }
                            else {
                                alert("خطا در عملیات")
                            }
                        }
                    });
                }
            })
        });
        //var myModal = document.getElementById('modal')
        ////var myInput = document.getElementById('myInput')

        //myModal.addEventListener('shown.bs.modal', function () {
        //    myInput.focus()
        //})

    </script>
    }
