@page
@model RegisterModel
@{
    ViewData["Title"] = "Register";
}
<div class="h-screen flex justify-center items-center bg-gradient-to-bl from-primary-600 to-primary-800">
    <div class="bg-white rounded-2xl shadow-custom w-11/12 sm:w-7/12 md:w-6/12 lg:w-4/12 xl:w-3/12 h-auto py-5 px-4">
        
        <form id="registerForm" asp-route-returnUrl="@Model.ReturnUrl" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <h2 class="w-full text-center">ثبت نام</h2>

            <div class="w-full flex py-2">
                <input aria-required="true" asp-for="Input.PhoneNumber" class="rounded-2xl text-sm text-zinc-600 w-full border border-zinc-200 px-5 py-3.5 placeholder:text-zinc-400 placeholder:text-xs focus:outline-1 focus:outline-primary-300 focus:border-primary-300" type="text" placeholder=" شماره موبایل">
            </div>
            <div class="w-full flex py-2 flex-col gap-y-1">
                <input
                    asp-for="Input.Password"
                    class="rounded-2xl text-sm text-zinc-600
 w-full border border-zinc-200 px-5
 py-3.5 placeholder:text-zinc-400
 placeholder:text-xs focus:outline-1 focus:outline-primary-300 focus:border-primary-300" type="password" placeholder="رمز عبور">
            </div>
            <div class="w-full flex py-2 flex-col gap-y-1">
                <input asp-for="Input.ConfirmPassword" class="rounded-2xl text-sm text-zinc-600 w-full border 
border-zinc-200 px-5 py-3.5
 placeholder:text-zinc-400 
placeholder:text-xs focus:outline-1 focus:outline-primary-300 focus:border-primary-300" type="password" placeholder="تکرار رمز عبور">
            </div>
            <button type="submit" class="bg-primary-500 py-2 px-4 rounded-2xl hover:bg-primary-700 text-white cursor-pointer w-full " >ثبت نام</button>
            <a class="text-decoration-underline text-primary-500" asp-page="/Account/Login" asp-area="Identity">اکانت داری؟</a>

        
            </form>
    </div>
    </div>
@*<div class="row">
    <div class="col-md-4">
    </div>
    <div class="col-md-6 col-md-offset-2">
        <section>
            <h3>Use another service to register.</h3>
            <hr />
            @{
                if ((Model.ExternalLogins?.Count ?? 0) == 0)
                {
                    <div>
                        <p>
                            There are no external authentication services configured. See this <a href="https://go.microsoft.com/fwlink/?LinkID=532715">
                                article
                                about setting up this ASP.NET application to support logging in via external services
                            </a>.
                        </p>
                    </div>
                }
                else
                {
                    <form id="external-account" asp-page="./ExternalLogin" asp-route-returnUrl="@Model.ReturnUrl" method="post" class="form-horizontal">
                        <div>
                            <p>
                                @foreach (var provider in Model.ExternalLogins!)
                                {
                                    <button type="submit" class="btn btn-primary" name="provider" value="@provider.Name" title="Log in using your @provider.DisplayName account">@provider.DisplayName</button>
                                }
                            </p>
                        </div>
                    </form>
                }
            }
        </section>
    </div>
</div>*@
@section InlineScript{
    <script>
        var size = $("#registerForm").width();
        $("#continueBtn").on("click", function () {
            console.log("click");
            console.log(size);
            $(".firstSide").css("transform", "translate( " + (size + 28) + "px,0)");
            $(".secondSide").css("transform", "translate(" + (size + 30) + "px,0)");
        })
        $("#backBtn").on("click", function () {
            console.log("click");
            console.log(size + 30);
            $(".firstSide").css("transform", "translate( 0px,0)");
            $(".secondSide").css("transform", "translate(0px,0)");
        })
    </script>
}