@model PresentationLayer.Models.ViewModels.ProductListByCategoryViewModel;

<div class="bg-white rounded-xl border border-zinc-100 px-4 py-8">
   <div class="bg-white px-4 pt-4 w-fit md:w-full">
          <!-- filter btn -->
          <a href="#selectCategory" class="filter-mobile md:hidden border border-zinc-200 bg-primary-500 p-4 block z-10 rounded-2xl">
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" fill="#fff" viewBox="0 0 256 256"><path d="M230.6,49.53A15.81,15.81,0,0,0,216,40H40A16,16,0,0,0,28.19,66.76l.08.09L96,139.17V216a16,16,0,0,0,24.87,13.32l32-21.34A16,16,0,0,0,160,194.66V139.17l67.74-72.32.08-.09A15.8,15.8,0,0,0,230.6,49.53ZM40,56h0Zm106.18,74.58A8,8,0,0,0,144,136v58.66L112,216V136a8,8,0,0,0-2.16-5.47L40,56H216Z"></path></svg>
          </a>
          <div id="mobile-filter" class="space-y-5 fixed transform md:translate-y-0 transition-transform duration-300 ease-in-out md:static bottom-0 right-3 z-[15] bg-white w-11/12 md:w-full shadow-2xl md:shadow-none border border-zinc-300 md:border-0 pb-5 px-5 md:px-0 rounded-t-2xl md:rounded-none translate-y-full">
            <button id="closeFilter" type="button" class="md:hidden mt-5 text-gray-400 cursor-pointer bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 inline-flex items-center">
              <svg class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>  
            </button>
            <h2 class="font-yekanBakhRegular">دسته‌بندی‌ها</h2>
            <ul id="categoryList" class="space-y-2 text-sm md:flex gap-x-2">
                @foreach (var cat in Model._categories)
                {
                    <li>
                        <button data-category-id="@cat.Id" class="category-btn text-right w-full px-4 py-2 rounded-lg hover:bg-zinc-100 cursor-pointer text-sm" data-category="electronics"
                                >@cat.Name</button>
                    </li>
                }
                <li>
                    <button class="text-right w-full px-4 py-2 rounded-lg cursor-pointer text-sm text-primary-500 hover:text-primary-600 flex items-center gap-x-1 group" data-category="beauty">
                        همه محصولات
                        <svg class="fill-primary-600 group-hover:-translate-x-1 transition group-hover:fill-primary-500 size-2.5 md:size-3" xmlns="http://www.w3.org/2000/svg" width="" height="" fill="" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path></svg>
                    </button>
                </li>
            </ul>
          </div>
        </div>
</div>
<div class="bg-white rounded-xl border border-zinc-100 px-4 py-8">
<div class="containerPSlider swiper">
  <div class="selectCategory">
    <div id="productList"
         class="card-wrapper swiper-wrapper grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 items-stretch">
      @foreach (var product in Model.Products)
      {
        <div class="card swiper-slide bg-white border border-zinc-200 rounded-2xl 
                    p-3 text-sm hover:shadow-custom transition-shadow 
                    flex flex-col h-full">
          
          <!-- Product Image -->
          <a asp-area="" asp-action="ProductShow" asp-controller="Product" asp-route-Id="@product.Id"
             class="text-zinc-800">
            <img class="rounded-xl mb-3 w-full object-cover aspect-[4/3]" 
                 src="~/Image/Product/@product.Name/@product.cover" 
                 alt="@product.Name" />
          </a>

          <!-- Subtitle -->
          <p class="text-zinc-400 text-xs">
            Lap Top Lenovo Laser 107W
          </p>

          <!-- Product name -->
          <a asp-area="" asp-action="ProductShow" asp-controller="Product" asp-route-Id="@product.Id"
             class="text-zinc-800 text-xs md:text-sm line-clamp-2 mt-2 flex-grow">
            @product.Name
          </a>

          <!-- Colors + Rating -->
          <div class="flex items-center justify-between mt-4">
            <div class="flex gap-1.5">
              <div class="size-4 bg-zinc-800 rounded-full"></div>
              <div class="size-4 bg-zinc-500 rounded-full"></div>
              <div class="size-4 bg-zinc-300 rounded-full"></div>
            </div>
            <div class="flex items-start gap-x-1 text-xs text-zinc-500">
              <span>
                <span>@product.Count</span>
                <span>4.4</span>
              </span>
              <svg class="fill-primary-500" xmlns="http://www.w3.org/2000/svg" width="14" height="14"
                   viewBox="0 0 256 256">
                <path d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"/>
              </svg>
            </div>
          </div>

          <!-- Price -->
          <div class="mt-auto pt-2 border-t border-dashed border-zinc-300">
            <div class="text-zinc-800 flex items-center gap-x-1 justify-end 
                        font-yekanBakhBold text-lg">
              @product.Price.ToString("N0")
              <img class="size-4" src="~/Image/icons/toman.png" alt="تومان">
            </div>
          </div>
        </div>
      }
    </div>
  </div>
</div>

</div>
@section InLineCss{
    <link href="@(Url.Content("~/css/main.css"))" />
}