@{
    ViewData["ActiveLink"] = "ticketDetail";
    Layout = "UserPanelLayout";
}
@using DataAccessLayer.Models;
@using Utility.PersianDate;

@model List<Ticket>

<div class="w-full flex-col gap-y-2">
    <div class="w-full flex justify-start py-2">
        <a asp-action="AddTicket" asp-controller="Ticket" class="bg-orange-500 text-white py-2 px-4 rounded-md hover:bg-orange-600 col-lg-2 col-md-4 col-6">افزودن تیکت</a>
    </div>
 
    <div class="grid gap-2 grid-cols-4 max-md:grid-cols-2 max-sm:grid-cols-1  ">
        <div class="w-full flex  gap-x-2 items-center bg-gradient-to-bl from-sky-500 to-sky-700 rounded-2xl p-3">
            <svg class="fill-zinc-100 bg-sky-600 rounded-xl p-1" xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="" viewBox="0 0 256 256"><path d="M232,96v96a8,8,0,0,1-8,8H32a8,8,0,0,1-8-8V96Z" opacity="0.2"></path><path d="M224,48H32A16,16,0,0,0,16,64V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48Zm0,16V88H32V64Zm0,128H32V104H224v88Zm-16-24a8,8,0,0,1-8,8H168a8,8,0,0,1,0-16h32A8,8,0,0,1,208,168Zm-64,0a8,8,0,0,1-8,8H120a8,8,0,0,1,0-16h16A8,8,0,0,1,144,168Z"></path></svg>
            <div class="text-zinc-50 space-y-1">
                <div>
                    تعداد&zwnj;تیکت&zwnj;ها
                </div>
                <div>
                    @Model.Count()
                </div>
            </div>
        </div>
        <div class="w-full flex  gap-x-2 items-center bg-gradient-to-bl from-teal-500 to-teal-700 rounded-2xl p-3">
            <svg class="fill-zinc-100 bg-teal-600 rounded-xl p-1" xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="" viewBox="0 0 256 256"><path d="M232,96v96a8,8,0,0,1-8,8H32a8,8,0,0,1-8-8V96Z" opacity="0.2"></path><path d="M224,48H32A16,16,0,0,0,16,64V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48Zm0,16V88H32V64Zm0,128H32V104H224v88Zm-16-24a8,8,0,0,1-8,8H168a8,8,0,0,1,0-16h32A8,8,0,0,1,208,168Zm-64,0a8,8,0,0,1-8,8H120a8,8,0,0,1,0-16h16A8,8,0,0,1,144,168Z"></path></svg>
            <div class="text-zinc-50 space-y-1">
                <div>
                    تیکت&zwnj;های&zwnj;پاسخ&zwnj;داده&zwnj;شده
                </div>
                <div>
                    @Model.Where(t => t.Status == "responed").Count()
                </div>
            </div>
        </div>
        <div class="w-full flex  gap-x-2 items-center bg-gradient-to-bl from-yellow-500 to-yellow-700 rounded-2xl p-3">
            <svg class="fill-zinc-100 bg-yellow-600 rounded-xl p-1" xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="" viewBox="0 0 256 256"><path d="M232,96v96a8,8,0,0,1-8,8H32a8,8,0,0,1-8-8V96Z" opacity="0.2"></path><path d="M224,48H32A16,16,0,0,0,16,64V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48Zm0,16V88H32V64Zm0,128H32V104H224v88Zm-16-24a8,8,0,0,1-8,8H168a8,8,0,0,1,0-16h32A8,8,0,0,1,208,168Zm-64,0a8,8,0,0,1-8,8H120a8,8,0,0,1,0-16h16A8,8,0,0,1,144,168Z"></path></svg>
            <div class="text-zinc-50 space-y-1">
                <div>
                    تیکت&zwnj;های&zwnj;درانتظار&zwnj;پاسخ&zwnj;
                </div>
                <div>
                    @Model.Where(t => t.Status == "open").Count()
                </div>
            </div>
        </div>
        <div class="w-full flex  gap-x-2 items-center bg-gradient-to-bl from-red-500 to-red-700 rounded-2xl p-3">
            <svg class="fill-zinc-100 bg-red-600 rounded-xl p-1" xmlns="http://www.w3.org/2000/svg" width="44" height="44" fill="" viewBox="0 0 256 256"><path d="M232,96v96a8,8,0,0,1-8,8H32a8,8,0,0,1-8-8V96Z" opacity="0.2"></path><path d="M224,48H32A16,16,0,0,0,16,64V192a16,16,0,0,0,16,16H224a16,16,0,0,0,16-16V64A16,16,0,0,0,224,48Zm0,16V88H32V64Zm0,128H32V104H224v88Zm-16-24a8,8,0,0,1-8,8H168a8,8,0,0,1,0-16h32A8,8,0,0,1,208,168Zm-64,0a8,8,0,0,1-8,8H120a8,8,0,0,1,0-16h16A8,8,0,0,1,144,168Z"></path></svg>
            <div class="text-zinc-50 space-y-1">
                <div>
                    تیکت&zwnj;های&zwnj;بسته
                </div>
                <div>
                    @Model.Where(t => t.Status == "close").Count()
                </div>
            </div>
        </div>
    </div>
    <div
        class="relative flex flex-col w-full h-full overflow-scroll text-gray-700">
        <table class="w-full text-right table-auto min-w-max">
        <thead>
        <tr>
        
            <th class="p-4 border-b border-b-zinc-400">
                <p class="block text-sm opacity-70">
                    عنوان
                </p>
            </th>
            <th class="p-4 border-b border-b-zinc-400">
                <p class="block text-sm opacity-70">
                    تاریخ
                </p>
            </th>
            <th class="p-4 border-b border-b-zinc-400">
                <p class="block text-sm opacity-70">
                    وضعیت
                </p>
            </th>
            <th class="p-4 border-b border-b-zinc-400">
                <p class="block text-sm opacity-70">
                    جزئیات
                </p>
            </th>
        </tr>
        </thead>
        <tbody>
        @foreach (var ticket in Model)
        {
            <tr class="even:bg-zinc-100">
                <td class="p-4">
                    <p class="block text-sm">
                        @ticket.Title
                    </p>
                </td>
                <td class="p-4">
                    <p class="block text-sm">
                       @ticket.LastUpdate.Date.ToPersianDate()
                    </p>
                </td>
                <td class="p-4">
                    <p class="block text-sm">
                        @switch (ticket.Status)
                        {
                            case "open":
                            {
                                <span class="badge bg-warning">درانتظار پاسخ</span>
                                break;
                            };
                            case "responed":
                            {
                                <span class="badge bg-success">پاسخ داده شده</span>
                                @if (ticket.commnets != null)
                                {
                                    <span class="badge bg-dark">پاسخ @ticket.commnets.Count()</span>
                                }
                                break;
                            };
                            case "close":
                            {
                                <span class="badge bg-danger">بسته</span>
                                @if(ticket.commnets != null)
                                {
                                    <span class="badge bg-dark">پاسخ @ticket.commnets.Count()</span>
                                }
                                break;
                            }
                        }
                    </p>
                </td>
                <td class="p-4">
                    <a class="bg-orange-500 text-white py-2 px-4 rounded-md hover:bg-orange-600" asp-action="TicketDetail" asp-controller="Ticket" asp-route-Id="@ticket.Id">جزییات</a>
                </td>
            </tr>
      
        }
        </tbody>
        </table>
    </div>
</div>

