@using Utility.PersianDate;
@model HomePageViewModel;
@{
    ViewData["Title"] = "صفحه اصلی";
}
@if (Model.Sliders != null)
{
     <div class="w-full">
      <div class="swiper heroSlider rounded-2xl md:rounded-4xl relative">
          <div class="swiper-wrapper">
              @foreach (var slide in Model.Sliders)
              {
                  <a href="" class="swiper-slide">
                      <img class="w-full h-44 md:h-80 object-cover object-bottom" src="https://onlineshop.mohammadmahdialmasi.ir/Image/slider/@(slide.ImageName)" alt="@slide.Name"> 
                  </a>
              }
          </div>
        <svg class="absolute -left-2 rotate-180 top-10 z-10 w-auto hidden md:block" width="70" height="255" viewBox="0 0 76 285" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_6_41)">
              <path d="M70 275V10C70 86 14 91.0878 14 142.752C14 194.416 70 201 70 275Z" fill="white"></path>
          </g>
          <defs>
              <filter id="filter0_d_6_41" x="0" y="0" width="76" height="285" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                  <feOffset dx="-4"></feOffset>
                  <feGaussianBlur stdDeviation="5"></feGaussianBlur>
                  <feComposite in2="hardAlpha" operator="out"></feComposite>
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"></feColorMatrix>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6_41"></feBlend>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6_41" result="shape"></feBlend>
              </filter>
          </defs>
        </svg>
        <svg class="absolute -right-2 top-10 z-10 w-auto hidden md:block" width="70" height="255" viewBox="0 0 76 285" fill="none" xmlns="http://www.w3.org/2000/svg">
          <g filter="url(#filter0_d_6_41)">
              <path d="M70 275V10C70 86 14 91.0878 14 142.752C14 194.416 70 201 70 275Z" fill="white"></path>
          </g>
          <defs>
              <filter id="filter0_d_6_41" x="0" y="0" width="76" height="285" filterUnits="userSpaceOnUse" color-interpolation-filters="sRGB">
                  <feFlood flood-opacity="0" result="BackgroundImageFix"></feFlood>
                  <feColorMatrix in="SourceAlpha" type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 127 0" result="hardAlpha"></feColorMatrix>
                  <feOffset dx="-4"></feOffset>
                  <feGaussianBlur stdDeviation="5"></feGaussianBlur>
                  <feComposite in2="hardAlpha" operator="out"></feComposite>
                  <feColorMatrix type="matrix" values="0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0.08 0"></feColorMatrix>
                  <feBlend mode="normal" in2="BackgroundImageFix" result="effect1_dropShadow_6_41"></feBlend>
                  <feBlend mode="normal" in="SourceGraphic" in2="effect1_dropShadow_6_41" result="shape"></feBlend>
              </filter>
          </defs>
        </svg>
        <svg  class="absolute left-1/2 -translate-x-1/2 w-96 -bottom-3 z-10 rotate-180 hidden md:block" style="filter: drop-shadow( 0 -7px 25px rgba(0, 0, 0, .3) );" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid meet" viewBox="0 0 480 110" width="480" height="110">
          <defs>
              <path d="M-607 -202L1073 -202L1073 0C679.8 0 461.36 0 417.67 0C368 0 358 50 327.34 50C310.37 50 174.64 50 157.67 50C128 50 118 0 67 0C22.07 0 -202.6 0 -607 0L-607 -202Z" id="dixoAXFOW"></path>
          </defs>
          <use xlink:href="#dixoAXFOW" opacity="1" fill="#ffffff" fill-opacity="1"></use>
        </svg>
        <div class="swiper-button-next"></div>
        <div class="swiper-button-prev"></div>
        <div class="swiper-pagination"></div>
      </div>
    </div>
}
<div class="grid grid-cols-3 md:flex flex-wrap justify-center gap-4 md:gap-8 mt-20">
    @foreach (var category in Model.CategoryList)
    {
        <a href="" class="flex flex-col justify-center items-center">
            <div class="size-28 md:size-32 p-3 flex justify-center bg-white shadow-none md:shadow-none hover:shadow-custom-sm border-2 border-zinc-200 transition-all hover:border-primary-500 hover:shadow-primary-500 rounded-2xl">
                <img class="w-16 md:w-20 h-fit" src="~/Image/Category/@category.cover" alt="">
            </div>
            <p class="text-center text-zinc-700 pt-2 text-sm">
             @category.name
            </p>
        </a>

    }
</div>
@await Component.InvokeAsync("ProductList")
<div class="mt-12 md:mt-20">
    <!-- top slider -->
    <div class="flex gap-x-4 justify-between items-center mb-7">
        <div class="w-48 min-w-fit text-zinc-700 text-sm md:text-base md:font-yekanBakhBold">
            محصولات پرفروش
        </div>
        <div class="h-[1px] w-full bg-gradient-to-r from-white via-zinc-300 to-white">
        </div>
        <div class="w-32 min-w-fit text-left">
            <a href="" class="group transition flex items-center justify-center gap-x-1 md:gap-x-2 text-zinc-600 hover:text-primary-500 text-xs md:text-sm text-center">
                مشاهده همه
                <svg class="fill-zinc-600 group-hover:-translate-x-1 transition group-hover:fill-primary-500 size-2.5 md:size-3" xmlns="http://www.w3.org/2000/svg" width="" height="" fill="" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path></svg>
            </a>
        </div>
    </div>
    <!-- main slider -->
    <div class="containerPSlider swiper">
        <div class="productSlider1">
            <div class="card-wrapper swiper-wrapper pb-10">
                @foreach (var product in Model.PopularProduct)
                {
                    
     
                    <div class="card swiper-slide bg-white border border-zinc-200 rounded-2xl p-2 md:p-3 text-sm hover:shadow-custom transition-shadow">
                        <a asp-action="ProductShow" asp-controller="Product" asp-route-Id="@product.Id" class="text-zinc-800">
                            <img class="rounded-xl mb-3" 
                                 src="https://onlineshop.mohammadmahdialmasi.ir/Image/Product/@(product.Name)/@(product.cover)">
                        </a>
                        <p class="text-zinc-400 text-xs">
                            @product.Name
                        </p>
                        <a href="" class="text-zinc-800 text-xs md:text-sm h-8 lg:h-10 line-clamp-2 mt-2">
                            @product.Name
                        </a>
                        <div class="flex items-center justify-between mt-4">
                            <div class="flex gap-1.5">
                                <div class="size-4 bg-zinc-800 rounded-full"></div>
                                <div class="size-4 bg-zinc-500 rounded-full"></div>
                                <div class="size-4 bg-zinc-300 rounded-full"></div>
                            </div>
                            <div class="flex items-start gap-x-1 text-xs text-zinc-500">
                                <span>
                                    <span>
                                        @product.Count
                                    </span>
                                    <span>
                                        4.4
                                    </span>
                                </span>
                                <svg class="fill-primary-500" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f9bc00" viewBox="0 0 256 256"><path d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"></path></svg>
                            </div>
                        </div>
                        <div class="flex items-center justify-end border-t border-dashed border-zinc-300 mt-4 pt-2">
                            <div class="text-zinc-800 flex items-center gap-x-1 justify-end font-yekanBakhBold text-lg">
                                @product.Price.ToString("N0")
                                <img class="size-4" src="~/Image/icons/toman.png" alt="">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
<div class="flex flex-col md:flex-row gap-5 mt-12 md:mt-20">
    <a href="">
        <img class="rounded-xl md:rounded-3xl h-fit" src="~/Image/banner/1.webp" alt="">
    </a>
    <a href="">
        <img class="rounded-xl md:rounded-3xl h-fit" src="~/Image/banner/2.webp" alt="">
    </a>
</div>
<div class="mt-12 md:mt-20">
    <!-- top slider -->
    <div class="flex gap-x-4 justify-between items-center mb-7">
        <div class="w-48 min-w-fit text-zinc-700 text-sm md:text-base md:font-yekanBakhBold">
            جدیدترین محصولات
        </div>
        <div class="h-[1px] w-full bg-gradient-to-r from-white via-zinc-300 to-white">
        </div>
        <div class="w-32 min-w-fit text-left">
            <a href="" class="group transition flex items-center justify-center gap-x-1 md:gap-x-2 text-zinc-600 hover:text-primary-500 text-xs md:text-sm text-center">
                مشاهده همه
                <svg class="fill-zinc-600 group-hover:-translate-x-1 transition group-hover:fill-primary-500 size-2.5 md:size-3" xmlns="http://www.w3.org/2000/svg" width="" height="" fill="" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path></svg>
            </a>
        </div>
    </div>
    <!-- main slider -->
    <div class="containerPSlider swiper">
        <div class="productSlider2">
            <div class="card-wrapper swiper-wrapper pb-10">
                @foreach (var product in Model.NewsetProduct)
                {
                    
     
                    <div class="card swiper-slide bg-white border border-zinc-200 rounded-2xl p-2 md:p-3 text-sm hover:shadow-custom transition-shadow">
                        <a asp-action="ProductShow" asp-controller="Product" asp-route-Id="@product.Id" class="text-zinc-800">
                            <img class="rounded-xl mb-3" 
                                 src="https://onlineshop.mohammadmahdialmasi.ir/Image/Product/@(product.Name)/@(product.cover)">
                        </a>
                        <p class="text-zinc-400 text-xs">
                            @product.Name
                        </p>
                        <a href="" class="text-zinc-800 text-xs md:text-sm h-8 lg:h-10 line-clamp-2 mt-2">
                            @product.Name
                        </a>
                        <div class="flex items-center justify-between mt-4">
                            <div class="flex gap-1.5">
                                <div class="size-4 bg-zinc-800 rounded-full"></div>
                                <div class="size-4 bg-zinc-500 rounded-full"></div>
                                <div class="size-4 bg-zinc-300 rounded-full"></div>
                            </div>
                            <div class="flex items-start gap-x-1 text-xs text-zinc-500">
                                <span>
                                    <span>
                                        @product.Count
                                    </span>
                                    <span>
                                        4.4
                                    </span>
                                </span>
                                <svg class="fill-primary-500" xmlns="http://www.w3.org/2000/svg" width="14" height="14" fill="#f9bc00" viewBox="0 0 256 256"><path d="M234.5,114.38l-45.1,39.36,13.51,58.6a16,16,0,0,1-23.84,17.34l-51.11-31-51,31a16,16,0,0,1-23.84-17.34L66.61,153.8,21.5,114.38a16,16,0,0,1,9.11-28.06l59.46-5.15,23.21-55.36a15.95,15.95,0,0,1,29.44,0h0L166,81.17l59.44,5.15a16,16,0,0,1,9.11,28.06Z"></path></svg>
                            </div>
                        </div>
                        <div class="flex items-center justify-end border-t border-dashed border-zinc-300 mt-4 pt-2">
                            <div class="text-zinc-800 flex items-center gap-x-1 justify-end font-yekanBakhBold text-lg">
                                @product.Price.ToString("N0")
                                <img class="size-4" src="~/Image/icons/toman.png" alt="">
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</div>
   <div class="mt-12 md:mt-20">
      <!-- top slider -->
      <div class="flex gap-x-4 justify-between items-center mb-7">
        <div class="w-48 min-w-fit text-zinc-700 text-sm md:text-base md:font-yekanBakhBold">
          برترین برند ها
        </div>
        <div class="h-[1px] w-full bg-gradient-to-r from-white via-zinc-300 to-white">
        </div>
        <div class="w-32 min-w-fit text-left">
          <a href="" class="group transition flex items-center justify-center gap-x-1 md:gap-x-2 text-zinc-600 hover:text-primary-500 text-xs md:text-sm text-center">
            مشاهده همه
            <svg class="fill-zinc-600 group-hover:-translate-x-1 transition group-hover:fill-primary-500 size-2.5 md:size-3" xmlns="http://www.w3.org/2000/svg" width="12" height="12" fill="" viewBox="0 0 256 256"><path d="M224,128a8,8,0,0,1-8,8H59.31l58.35,58.34a8,8,0,0,1-11.32,11.32l-72-72a8,8,0,0,1,0-11.32l72-72a8,8,0,0,1,11.32,11.32L59.31,120H216A8,8,0,0,1,224,128Z"></path></svg>
          </a>
        </div>
      </div>
      <!-- main slider -->
      <div class="containerPSlider swiper">
        <div class="brands">
          <div class="card-wrapper swiper-wrapper pb-10">
            <div class="card swiper-slide shiny">
              <a href="#" class="flex flex-col justify-between items-center gap-3 w-full h-36 md:h-48 md:px-4 border border-zinc-100 rounded-2xl hover:shadow-lg transition">
                <div class="w-full h-44 flex justify-center items-center">
                  <img class="max-w-24 md:max-w-32 w-full mx-auto" src="~/Image/brands/1.png" alt="">
                </div>
                <p class="text-xs md:text-sm text-zinc-700 h-16">
                  شیائومی
                </p>
              </a>
            </div>
            <div class="card swiper-slide shiny">
              <a href="#" class="flex flex-col justify-between items-center gap-3 w-full h-36 md:h-48 md:px-4 border border-zinc-100 rounded-2xl hover:shadow-lg transition">
                <div class="w-full h-44 flex justify-center items-center">
                  <img class="max-w-24 md:max-w-32 w-full mx-auto" src="~/Image/brands/2.jpg" alt="">
                </div>
                <p class="text-xs md:text-sm text-zinc-700 h-16">
                  سامسونگ
                </p>
              </a>
            </div>
            <div class="card swiper-slide shiny">
              <a href="#" class="flex flex-col justify-between items-center gap-3 w-full h-36 md:h-48 md:px-4 border border-zinc-100 rounded-2xl hover:shadow-lg transition">
                <div class="w-full h-44 flex justify-center items-center">
                  <img class="max-w-24 md:max-w-32 w-full mx-auto" src="~/Image/brands/3.jpg" alt="">
                </div>
                <p class="text-xs md:text-sm text-zinc-700 h-16">
                  ونک
                </p>
              </a>
            </div>
            <div class="card swiper-slide shiny">
              <a href="#" class="flex flex-col justify-between items-center gap-3 w-full h-36 md:h-48 md:px-4 border border-zinc-100 rounded-2xl hover:shadow-lg transition">
                <div class="w-full h-44 flex justify-center items-center">
                  <img class="max-w-24 md:max-w-32 w-full mx-auto" src="~/Image/brands/4.png" alt="">
                </div>
                <p class="text-xs md:text-sm text-zinc-700 h-16">
                  تسکو
                </p>
              </a>
            </div>
            <div class="card swiper-slide shiny">
              <a href="#" class="flex flex-col justify-between items-center gap-3 w-full h-36 md:h-48 md:px-4 border border-zinc-100 rounded-2xl hover:shadow-lg transition">
                <div class="w-full h-44 flex justify-center items-center">
                  <img class="max-w-24 md:max-w-32 w-full mx-auto" src="~/Image/brands/5.png" alt="">
                </div>
                <p class="text-xs md:text-sm text-zinc-700 h-16">
                  آنکر
                </p>
              </a>
            </div>
            <div class="card swiper-slide shiny">
              <a href="#" class="flex flex-col justify-between items-center gap-3 w-full h-36 md:h-48 md:px-4 border border-zinc-100 rounded-2xl hover:shadow-lg transition">
                <div class="w-full h-44 flex justify-center items-center">
                  <img class="max-w-24 md:max-w-32 w-full mx-auto" src="~/Image/brands/6.jpg" alt="">
                </div>
                <p class="text-xs md:text-sm text-zinc-700 h-16">
                  شهر گلس
                </p>
              </a>
            </div>
            <div class="card swiper-slide shiny">
              <a href="#" class="flex flex-col justify-between items-center gap-3 w-full h-36 md:h-48 md:px-4 border border-zinc-100 rounded-2xl hover:shadow-lg transition">
                <div class="w-full h-44 flex justify-center items-center">
                  <img class="max-w-24 md:max-w-32 w-full mx-auto" src="~/Image/brands/7.jpg" alt="">
                </div>
                <p class="text-xs md:text-sm text-zinc-700 h-16">
                  بادیگار
                </p>
              </a>
            </div>
            <div class="card swiper-slide shiny">
              <a href="#" class="flex flex-col justify-between items-center gap-3 w-full h-36 md:h-48 md:px-4 border border-zinc-100 rounded-2xl hover:shadow-lg transition">
                <div class="w-full h-44 flex justify-center items-center">
                  <img class="max-w-24 md:max-w-32 w-full mx-auto" src="~/Image/brands/8.png" alt="">
                </div>
                <p class="text-xs md:text-sm text-zinc-700 h-16">
                  سامورائی
                </p>
              </a>
            </div>
            <div class="card swiper-slide shiny">
              <a href="#" class="flex flex-col justify-between items-center gap-3 w-full h-36 md:h-48 md:px-4 border border-zinc-100 rounded-2xl hover:shadow-lg transition">
                <div class="w-full h-44 flex justify-center items-center">
                  <img class="max-w-24 md:max-w-32 w-full mx-auto" src="~/Image/brands/9.png" alt="">
                </div>
                <p class="text-xs md:text-sm text-zinc-700 h-16">
                  گلس استار
                </p>
              </a>
            </div>
            <div class="card swiper-slide shiny">
              <a href="#" class="flex flex-col justify-between items-center gap-3 w-full h-36 md:h-48 md:px-4 border border-zinc-100 rounded-2xl hover:shadow-lg transition">
                <div class="w-full h-44 flex justify-center items-center">
                  <img class="max-w-24 md:max-w-32 w-full mx-auto" src="~/Image/brands/10.png" alt="">
                </div>
                <p class="text-xs md:text-sm text-zinc-700 h-16">
                  آنکر
                </p>
              </a>
            </div>
            <div class="card swiper-slide shiny">
              <a href="#" class="flex flex-col justify-between items-center gap-3 w-full h-36 md:h-48 md:px-4 border border-zinc-100 rounded-2xl hover:shadow-lg transition">
                <div class="w-full h-44 flex justify-center items-center">
                  <img class="max-w-24 md:max-w-32 w-full mx-auto" src="~/Image/brands/11.png" alt="">
                </div>
                <p class="text-xs md:text-sm text-zinc-700 h-16">
                  کاملیون
                </p>
              </a>
            </div>
            <div class="card swiper-slide shiny">
              <a href="#" class="flex flex-col justify-between items-center gap-3 w-full h-36 md:h-48 md:px-4 border border-zinc-100 rounded-2xl hover:shadow-lg transition">
                <div class="w-full h-44 flex justify-center items-center">
                  <img class="max-w-24 md:max-w-32 w-full mx-auto" src="~/Image/brands/12.png" alt="">
                </div>
                <p class="text-xs md:text-sm text-zinc-700 h-16">
                  راینو
                </p>
              </a>
            </div>
            <div class="card swiper-slide shiny">
              <a href="#" class="flex flex-col justify-between items-center gap-3 w-full h-36 md:h-48 md:px-4 border border-zinc-100 rounded-2xl hover:shadow-lg transition">
                <div class="w-full h-44 flex justify-center items-center">
                  <img class="max-w-24 md:max-w-32 w-full mx-auto" src="~/Image/brands/13.jpg" alt="">
                </div>
                <p class="text-xs md:text-sm text-zinc-700 h-16">
                  گارد تِک
                </p>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
@* <section class="SpecialOffer scrollcontainer"> *@
@*     <div class="Product-container"> *@
@*         <h2 class="text-light">تخفیفات ویژه</h2> *@
@*         <div class="product-wrapper"> *@
@*             @if (Model != null) *@
@*             { *@
@*                 if (Model.HotDiscountProduct.Count() != 0) *@
@*                 { *@
@*                     @foreach (var product in Model.HotDiscountProduct) *@
@*                     { *@
@*                         <div class="product-card" style="min-width: 15rem;height:100%"> *@
@*                             <span class="off badge badge-danger bg-danger rounded-5">@product.Discount %</span> *@
@*                             <div class="cover overflow-hidden" style="width: 200px !important;height: 200px !important;"  > *@
@*                                 <a class="nav-link" asp-action="ProductShow" asp-controller="Product" asp-route-Id="@product.Id"> *@
@*                                     <img   src="https://onlineshop.mohammadmahdialmasi.ir/Image/Product/@(product.Name)/@(product.ProductPhotos.First().Name)" *@
@*                                          alt="@product.Name"  style="object-fit: cover"> *@
@*                                 </a> *@
@*                             </div> *@
@*                             <div class="card-body"> *@
@*                                 <div class="product-name"> *@
@*                                     <a  class="nav-link" asp-action="ProductShow" asp-controller="Product" asp-route-Id="@product.Id">@product.Name</a> *@
@*                                 </div> *@
@*                                 <div class="price"> *@
@*                                     @if (product.Discount > 0) *@
@*                                     { *@
@*                                         <span class="original-price text-danger"><del>@product.Price.ToString("N0") تومان</del></span> *@
@* *@
@* *@
@*                                         var finPrice = product.Price - (product.Price * ((decimal)product.Discount / 100)); *@
@* *@
@* *@
@*                                         <span class="off-price">@finPrice.ToString("N0") تومان</span> *@
@*                                     } *@
@*                                     else *@
@*                                     { *@
@*                                         <span class="text-dark">@product.Price.ToString("N0") تومان</span> *@
@*                                     } *@
@*                                 </div> *@
@*                                 <button class="btn btn-primary">خرید</button> *@
@*                             </div> *@
@*                             <div class="card-footer"> *@
@*                                 <div class="rate"> *@
@*                                     <i class="fa-solid fa-star"></i> *@
@*                                     <i class="fa-solid fa-star"></i> *@
@*                                     <i class="fa-solid fa-star"></i> *@
@*                                     <i class="fa-regular fa-star"></i> *@
@*                                     <i class="fa-regular fa-star"></i> *@
@*                                 </div> *@
@*                             </div> *@
@*                         </div> *@
@* *@
@*                     } *@
@*                 } *@
@*             } *@
@*         </div> *@
@*         <div class="navigation"> *@
@*             <button class="right-nav-scroll"> > </button> *@
@*             <button class="left-nav-scroll">></button> *@
@*         </div> *@
@*     </div> *@
@* </section> *@
@* <section class="seggustion scrollcontainer"> *@
@*     <div class="Product-container"> *@
@*         <h2 class="text-light"><span>جدیدترین محصولات</span><span><a href="#">مشاهده بیشتر</a></span></h2> *@
@*         <div class="product-wrapper slider" dir="ltr"> *@
@*             @if (Model != null) *@
@*             { *@
@*                 @if (Model.NewsetProduct.Count() > 0) *@
@*                 { *@
@*                     @foreach (var product in Model.NewsetProduct) *@
@*                     { *@
@*                         <div class="product-card flex " style="min-width: 15rem;height:342px"> *@
@*                             <div class="cover overflow-hidden" style="width:200px !important;height: 200px !important;"  > *@
@*                                 <a class="nav-link" asp-action="ProductShow" asp-controller="Product" asp-route-Id="@product.Id"> *@
@*                                     <img  style="object-fit: cover" src="https://onlineshop.mohammadmahdialmasi.ir/Image/Product/@(product.Name)/@(product.ProductPhotos.First().Name)" *@
@*                                          alt="@product.Name"> *@
@*                                 </a> *@
@*                             </div> *@
@*                             <div class="card-body"> *@
@*                                 <div class="product-name"> *@
@*                                     <a  class="nav-link" asp-action="ProductShow" asp-controller="Product" asp-route-Id="@product.Id">@product.Name</a> *@
@*                                 </div> *@
@*                                 <div class="price"> *@
@*                                     @if (product.Discount > 0) *@
@*                                     { *@
@*                                         <span class="original-price text-danger text-sm"><del>@product.Price.ToString("N0") تومان</del></span> *@
@* *@
@* *@
@*                                         var finPrice = product.Price - (product.Price * ((decimal)product.Discount / 100)); *@
@* *@
@* *@
@*                                         <span class="off-price">@finPrice.ToString("N0") تومان</span> *@
@*                                     } *@
@*                                     else *@
@*                                     { *@
@*                                         <span class="text-dark">@product.Price.ToString("N0") تومان</span> *@
@*                                     } *@
@*                                 </div> *@
@*                                 <div class="card-footer"> *@
@*                                     <a href="#" class="shopbtn"><i class="fa-solid fa-cart-shopping"></i></a> *@
@*                                     <div class="d-flex flex-row-reverse"> *@
@*                                         <i class="fa-solid fa-star"></i><span>4.5</span> *@
@*                                         @*         <i class="fa-solid fa-star"></i> *@
@*                             <i class="fa-solid fa-star"></i> *@
@*                             <i class="fa-regular fa-star"></i> *@
@*                             <i class="fa-regular fa-star"></i>*@ 
@*                                     </div> *@
@*                                 </div> *@
@*                             </div> *@
@*                         </div> *@
@*                     } *@
@*                 } *@
@*             } *@
@* *@
@* *@
@*         </div> *@
@*         <!-- <div class="navigation"> *@
@*             <button class="right-nav-scroll"> > </button> *@
@*             <button class="left-nav-scroll">></button> *@
@*         </div> --> *@
@*     </div> *@
@* </section> *@
@* <section class="banner container"> *@
@*     <img src="~/Image/slider3.webp"> *@
@* </section> *@
@* @if (Model != null) *@
@* { *@
@*     @if (Model.PopularProduct.Count() > 0) *@
@*     { *@
@*         <section class="seggustion scrollcontainer"> *@
@*             <div class="Product-container"> *@
@*                 <h2 class="text-light"><span>محبوب ترین محصولات</span><span><a href="#">مشاهده بیشتر</a></span></h2> *@
@*                 <div class="product-wrapper slider" dir="ltr"> *@
@*                     @foreach (var product in Model.PopularProduct) *@
@*                     { *@
@*                         <div class="product-card flex  " style="min-width: 15rem;height:342px"> *@
@*                             <div class="cover overflow-hidden" height="200px" width="200px"  > *@
@*                                 <a class="nav-link" asp-action="ProductShow" asp-controller="Product" asp-route-Id="@product.Id"> *@
@*                                     <img  style="object-fit: cover" src="https://onlineshop.mohammadmahdialmasi.ir/Image/Product/@(product.Name)/@(product.ProductPhotos.First().Name)" *@
@*                                          alt="@product.Name" > *@
@*                                 </a> *@
@*                             </div> *@
@*                             <div class="card-body"> *@
@*                                 <div class="product-name"> *@
@*                                     <a class="nav-link" asp-action="ProductShow" asp-controller="Product" asp-route-Id="@product.Id">@product.Name</a> *@
@*                                 </div> *@
@*                                 <div class="price"> *@
@*                                     @if (product.Discount > 0) *@
@*                                     { *@
@*                                         <span class="original-price text-danger"><del>@product.Price.ToString("N0") تومان</del></span> *@
@* *@
@* *@
@*                                         var finPrice = product.Price - (product.Price * ((decimal)product.Discount / 100)); *@
@* *@
@* *@
@*                                         <span class="off-price">@finPrice.ToString("N0") تومان</span> *@
@*                                     } *@
@*                                     else *@
@*                                     { *@
@*                                         <span class="text-dark">@product.Price.ToString("N0") تومان</span> *@
@*                                     } *@
@*                                 </div> *@
@*                                 <div class="card-footer"> *@
@*                                     <a href="#" class="shopbtn"><i class="fa-solid fa-cart-shopping"></i></a> *@
@*                                     <div class="d-flex flex-row-reverse"> *@
@*                                         <i class="fa-solid fa-star"></i><span>4.5</span> *@
@*                                         @*         <i class="fa-solid fa-star"></i> *@
@*                             <i class="fa-solid fa-star"></i> *@
@*                             <i class="fa-regular fa-star"></i> *@
@*                             <i class="fa-regular fa-star"></i>*@ 
@*                                     </div> *@
@*                                 </div> *@
@*                             </div> *@
@*                         </div> *@
@*                     } *@
@* *@
@* *@
@*                 </div> *@
@*                 <!-- <div class="navigation"> *@
@*                     <button class="right-nav-scroll"> > </button> *@
@*                     <button class="left-nav-scroll">></button> *@
@*                 </div> --> *@
@*             </div> *@
@*         </section> *@
@*     } *@
@* } *@
<!-- <section class="popular-category">-->
@* <h2>محبوب ترین دسته بندی ها</h2> *@
@* <div class="container container-circle-card"> *@
@*     <div class="wrapper"> *@
@*         <a class="box"> *@
@*             <img src="../image/icons8-macbook-air-100.png" alt="laptop"> *@
@*             <p>لپتاپ</p> *@
@*         </a> *@
@*         <a class="box"> *@
@*             <img src="../image/icons8-monitor-100.png" alt="laptop"> *@
@*             <p>مانیتور</p> *@
@*         </a> *@
@*         <a class="box"> *@
@*             <img src="../image/icons8-smartphone-96.png" alt="laptop"> *@
@*             <p>موبایل</p> *@
@*         </a> *@
@*         <a class="box"> *@
@*             <img src="../image/icons8-mouse-96.png" alt="laptop"> *@
@*             <p>موس</p> *@
@*         </a> *@
@*         <a class="box"> *@
@*             <img src="../image/icons8-electronics-100.png" alt="laptop"> *@
@*             <p>پردازنده</p> *@
@*         </a> *@
@*         <a class="box"> *@
@*             <img src="../image/icons8-game-controller-100.png" alt="laptop"> *@
@*             <p>کنسول بازی</p> *@
@*         </a> *@
@*         <a class="box"> *@
@*             <img src="../image/icons8-motherboard-100.png" alt="laptop"> *@
@*             <p>مادربرد</p> *@
@*         </a> *@
@*     </div> *@
@*     <button class="prev-btn navigation-btns" aria-label="Previous" type="button">&lt;</button> *@
@*     <button class="next-btn navigation-btns" aria-label="Next" type="button">&gt;</button> *@
@* </div> *@
@* </section> --> *@
@* <section class="banner container-fluid d-flex flex-wrap p-5 justify-content-evenly gap-3"> *@
@*     <div class="col-md-5 col-8 rounded-3"> *@
@*         <img src="~/Image/rightImg.webp" alt="laptop"> *@
@*     </div> *@
@*     <div class="col-md-5 col-8 rounded-3"> *@
@*         <img src="~/Image/leftImg.webp" alt="laptop"> *@
@*     </div> *@
@* </section> *@
@* @if (Model != null) *@
@* { *@
@*     @if (Model.Posts.Count() > 0) *@
@*     { *@
@*         <section class="scrollBlog  d-flex flex-column align-items-center"  dir="ltr"> *@
@*             <h2 class="col-10 text-dark d-flex flex-row-reverse justify-content-between"> *@
@*                 <span>وبلاگ</span><span> *@
@*                     <a href="#" *@
@*                        class="nav-link text-secondary display-5">مشاهده بیشتر</a> *@
@*                 </span> *@
@*             </h2> *@
@*             <div class="container-lg container-fluid p-2"> *@
@*                 <div class="card-slider"> *@
@*                     @foreach (var post in Model.Posts) *@
@*                     { *@
@*                         <div class="card" style="width: 18rem;"> *@
@*                             <div class="card-header"> *@
@*                                 <a class="nav-link" asp-action="Post" asp-route-Title="@post.Title" asp-controller="Blog"> *@
@*                                 <img src="@post.CoverLink" class="card-img-top" alt="c#"> *@
@*                                 </a> *@
@*                             </div> *@
@*                             <div class="card-body"> *@
@*                                 <h5 class="card-title text-wrap"><a class="nav-link" asp-action="Post" asp-route-Title="@post.Title" asp-controller="Blog">@post.Title</a></h5> *@
@*                                 <span class="date"> منتشر شده در @post.LastUpdates.Date.ToPersianDate()</span> *@
@*                                 $1$ <div class="tags"> #1# *@
@*                                 $1$     @foreach(var tag in post.TagToBlogPosts) #1# *@
@*                                 $1$     { #1# *@
@*                                 $1$         <span class="tag" >#@tag.Tag.TagName</span> #1# *@
@*                                 $1$     } #1# *@
@*                                 $1$ </div> #1# *@
@*                             </div> *@
@*                         </div> *@
@*                     } *@
@* *@
@*                 </div> *@
@*                 <!-- <button class="slick-prev" aria-label="Previous" type="button"></button> *@
@*                     <button class="slick-next" aria-label="Next" type="button"></button> --> *@
@*             </div> *@
@*         </section> *@
@*     } *@
@* } *@
@* @if(Model.Comments != null && Model.Comments.Count != 0) *@
@* { *@
@*     <section class="scrollComment scrollSection d-flex flex-column align-items-center" dir="ltr"> *@
@*         <h3 class="text-center">نظرات</h3> *@
@*         <div class="container container-fluid p-2"> *@
@*             <div class="card-slider slider"> *@
@*                 @foreach (var comment in Model.Comments) *@
@*                 { *@
@*                     <div class="p-3 card rounded-2 bg-light  comnent-card " style="width: 18rem;"> *@
@*                         <div class="header"> *@
@*                             <h5 class="text-wrap tex-end text-primary font-weight-bold"> *@
@*                                     @comment.Product.Name *@
@*                                 </h5> *@
@*                             <h5 class="card-title text-primary font-weight-normal">@comment.User.UserName</h5> *@
@*                         </div> *@
@*                         <div class="card-body"> *@
@*                             <p class="text-wrap">@comment.Description</p> *@
@*                         </div> *@
@*                         <div class="footer"> *@
@*                             <h5 class="font-weight-bold text-primary">@comment.LastUpdate.Date.ToPersianDate()</h5> *@
@*                         </div> *@
@*                     </div> *@
@*                 } *@
@*             </div> *@
@*             <!-- <button class="slick-prev" aria-label="Previous" type="button"></button> *@
@*                 <button class="slick-next" aria-label="Next" type="button"></button> --> *@
@*         </div> *@
@*     </section> *@
@* } *@
@* @if (Model != null) *@
@* { *@
@*     <section class="aboutus"> *@
@*         <h3 class="col-md-6 col-10" style="color:#00719C" >@Model.Aboutus.Name</h3> *@
@*         <div class="col-md-6 col-10 container"> *@
@*             <div class="cover"> *@
@*                 @if (!string.IsNullOrEmpty(Model.Aboutus.ImageName)) *@
@*                 { *@
@*                     <img src="~/Image//icons/aboutus/@(Model.Aboutus.ImageName)" alt="Model.Aboutus.Name"> *@
@*                 } *@
@*             </div> *@
@*             <div class="content"> *@
@*                 <p> *@
@*                     @Model.Aboutus.Description *@
@*                 </p> *@
@*                 $1$        <a href="#" class="btn btn-outline-primary">بیشتر</a>#1# *@
@*             </div> *@
@*         </div> *@
@*     </section> *@
@* } *@

@* @section InlineCss{ *@
@*     <link rel="stylesheet" type="text/css" *@
@*           href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.css" /> *@
@*     <link rel="stylesheet" type="text/css" *@
@*           href="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick-theme.css" /> *@
@*           <link rel="stylesheet" href="~/css/blogpost.css" /> *@
@*     } *@
@section ScriptRefrence{
    @* <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.8.1/slick.min.js"></script> *@
    <script src="~/js/function.js"></script>
    <script src="~/js/app.js"></script>
}

@section InlineScript{
    <script>
document.querySelectorAll('.category-btn').forEach(btn => {
    btn.addEventListener('click', async () => {
        const categoryId = btn.dataset.categoryId;
        const response = await fetch(`/Product/ProductList?categoryId=${categoryId}`);
        const html = await response.text();
        document.querySelector('#productList').innerHTML =
            new DOMParser().parseFromString(html, 'text/html').querySelector('#productList').innerHTML;

        document.querySelectorAll('.category-btn').forEach(b => b.classList.remove('bg-zinc-100', 'text-primary-500'));
        btn.classList.add('bg-zinc-100', 'text-primary-500');
    });
});
if ( document.querySelectorAll('.category-btn')[0]) {
    document.querySelectorAll('.category-btn')[0].click();
}
</script>
    
    }
