@using DataAccessLayer.Models;
   
@inject SignInManager<ApplicationUser> SignInManager
@{
    var hasExternalLogins = (await SignInManager.GetExternalAuthenticationSchemesAsync()).Any();
}
<ul class="flex gap-x-2">
    <li ><a class="bg-zinc-100 py-2 px-4 rounded-md @ManageNavPages.IndexNavClass(ViewContext)" id="profile" asp-page="./Index">پروفایل</a></li>
    <li ><a class="bg-zinc-100 py-2 px-4 rounded-md @ManageNavPages.EmailNavClass(ViewContext)" id="email" asp-page="./Email">ایمیل</a></li>
    <li ><a class="bg-zinc-100 py-2 px-4 rounded-md @ManageNavPages.ChangePasswordNavClass(ViewContext)" id="change-password" asp-page="./ChangePassword">رمز عبور</a></li>
    @if (hasExternalLogins)
    {
        <li id="external-logins" class="nav-item"><a id="external-login" class="nav-link @ManageNavPages.ExternalLoginsNavClass(ViewContext)" asp-page="./ExternalLogins">ورود های خارجی</a></li>
    }
    @* <li ><a class="bg-zinc-100 py-2 rounded-md px-4 @ManageNavPages.TwoFactorAuthenticationNavClass(ViewContext)" id="two-factor" asp-page="./TwoFactorAuthentication">احراز هویت دو-مرحله-ای</a></li> *@
    @* <li ><a class="bg-zinc-100 py-2 rounded-md px-4 @ManageNavPages.PersonalDataNavClass(ViewContext)" id="personal-data" asp-page="./PersonalData">اطلاعات شخصی</a></li> *@
</ul>
