@model AddEditProductViewModel;
<section class="content">
    <div class="container-fluid">
        <div class="row">
            <!-- left column -->
            <div class="col-12">
                <!-- general form elements -->

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">اطلاعات اولیه</h3>
                    </div>
                    <!-- /.card-header -->
                    <!-- form start -->
                    <div class="card-body">
                        <form asp-action="ProductEdit" method="post" class="form" enctype="multipart/form-data">
                            <div asp-validation-summary="All" class="alert alert-danger"></div>
                            <input asp-for="@Model.Id" hidden />
                            <div class="form-group">
                                <label for="exampleInputEmail1">نام محصول</label>
                                <input class="form-control" asp-for="@Model.Name" id="exampleInputEmail1" placeholder="نام محصول را وارد کنید">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">قیمت</label>
                                <input class="form-control" asp-for="@Model.Price" id="exampleInputPassword1" placeholder="ریال)قیمت محصول) ">
                            </div>
                            <div class="form-group">
                                <label>Textarea</label>
                                <textarea class="form-control" rows="3" asp-for="@Model.Description" placeholder=" توضیحات محصول را وارد کنید..."></textarea>
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">وزن</label>
                                <input class="form-control" asp-for="@Model.Weight" id="exampleInputPassword1" placeholder="وزن محصول">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">عرض</label>
                                <input class="form-control" asp-for="@Model.Width" id="exampleInputPassword1" placeholder="عرض محصول">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">طول</label>
                                <input class="form-control" asp-for="@Model.length" id="exampleInputPassword1" placeholder="طول محصول">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">ارتفاع</label>
                                <input class="form-control" asp-for="@Model.height" id="exampleInputPassword1" placeholder="ارتفاع محصول">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">تعداد</label>
                                <input class="form-control" asp-for="@Model.QuantityInStock" id="exampleInputPassword1" placeholder="تعداد محصول">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">عکس</label>
                                <input class="form-control" asp-for="@Model.File" id="exampleInputPassword1" multiple>
                            </div>
                            <!-- select -->
                            <div class="form-group col-sm-6">
                                <label>سر دسته بندی</label>
                                <select asp-items="ViewBag.categories" class="form-select form-control" id="headcategory">
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label> دسته بندی</label>
                                <select class="form-select form-control" id="category">
                                    <option value="0"> دسته بندی مورد نطر را انتخاب کنید</option>
                                </select>
                            </div>
                            <div class="form-group col-sm-6">
                                <label>زیر دسته بندی</label>
                                <select class="form-control" id="subcategory" asp-for="@Model.SubCategory_Id">
                                </select>
                            </div>
                            <!-- /.card-body -->
                            <button type="submit" class="btn btn-primary">ویرایش</button>

                        </form>

                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->

                </div>

                <!--/.col (right) -->
            </div>
        </div>
        <!-- /.row -->
    </div><!-- /.container-fluid -->
</section>
@section  InlineScripts{
    <script>
        $.ajax(
            {
                url: '@Url.Action("CategoryDropDown","Product")',
                type: 'GET',
                data: {
                    category_Id: $("#headcategory").val(),
                },
                success: function (data) {
                    console.log(data);
                    $('#category').empty();
                    for (const item of data["$values"]) {
                        $('#category').append('<option value="' + item.value + '">' + item.text + '</ option>');
                    };

                }
            });
        console.log($("#category").val());
       window.addEventListener('load',() => {
            $.ajax(
                {
                    url: '@Url.Action("SubCategoryDropDown","Product")',
                    type: 'GET',
                    data: {
                        category_Id: $("#category").val(),
                    },
                    success: function (data) {
                        console.log(data);
                        $('#subcategory').empty();
                        for (const item of data["$values"]) {
                            $('#subcategory').append('<option value="' + item.value + '">' + item.text + '</ option>');
                        };

                    }
                });
       })

        $("#headcategory").click(function () {
            $.ajax(
                {
                    url: '@Url.Action("CategoryDropDown","Product")',
                    type: 'GET',
                    data: {
                        category_Id: $("#headcategory").val(),
                    },
                    success: function (data) {
                        console.log(data);
                        $('#category').empty();
                        for (const item of data["$values"]) {
                            $('#category').append('<option value="' + item.value + '">' + item.text + '</ option>');
                        };
                    }
                });
        });
        $("#category").click(function () {
            $.ajax(
                {
                    url: '@Url.Action("SubCategoryDropDown","Product")',
                    type: 'GET',
                    data: {
                        category_Id: $("#category").val(),
                    },
                    success: function (data) {
                        console.log(data);
                        $('#subcategory').empty();
                        for (const item of data["$values"]) {
                            $('#subcategory').append('<option value="' + item.value + '">' + item.text + '</ option>');
                        };
                    }
                });
        });
                //$("#subcategory").click(function () {

                //})

    </script>
}